* {
  
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

 
    

  }
  
.dashboard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 95vh;
    width: 95vw;
    border-radius: 1rem ;
    padding: 1rem;
    background-color: gray ;
 
   
   
  }
  
  .sidebar {
    background-color: #00b9b4;
    color: white;
    box-sizing: border-box;
    border-radius: 1rem ;
    border: 1px solid #ccc;
    
   
  }
  
  .sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 4px;
  }
  
  .sidebar ul li a:hover {
    background-color: #495057;
  }
  
  .content {
    width: 95%;
    padding: 1rem;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 1rem ;
    border: 2px solid #ccc;
    justify-content: center;
    height: 90vh;
    
    
  }
  
  .content h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 16px;
    line-height: 1.6;
  }
  